extends layout

block content

  h1 #{title}: 

  if bookinstance.length

    p #[strong Delete the following books before attempting to delete this author.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Books
      dl
        each book in bookinstance
          dt
            a(href=book.url) #{book.status}

  else
    p Do you really want to delete this book instance?

    form(method='POST')
      div.form-group
        input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
